<p>ngform works!</p>

<form #myform="ngForm" (ngSubmit)="SubmitForm(myform.value)">
    <div class="row">
        <label for="first name">first name</label>
        <input type="text" name="fname" placeholder="Enter first name" ngModel>
        <label for="first name">last name</label>
        <input type="text" name="lname" placeholder="Enter last name" ngModel>
        <label for="mobile">mobile</label>
        <input type="mobile-number" name="mobile-number" placeholder="Enter mobile-number" ngModel>
        <label for="email">email</label>
        <input type="email" name="email" placeholder="Enter email" ngModel>
        <label for="password">password</label>
        <input type="password" name="password" placeholder="Enter password" ngModel>
    </div>
    <div class="btn">
    
            <button type="submit">submit</button>
            <button type="reset" style="margin-left: 75px;">reset</button>
        </div>

</form>